<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>О нас</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Мир Magenta</h1>

        <div class="nav_bar">
            <a href="/index">Главное</a>
            <a href="/one">Факты</a>
            <a href="/two">Картнки</a>
            <a href="/three">Цели</a>
            <a href="/four" style="float: right" class="active">О нас</a>
        </div>

        <div class="content">
            <h2>О нас</h2>
            <p>
                Клуб любителей Magenta - это место, где люди собираются вместе, чтобы обсудить все, что связано с этим цветом.
                Здесь вы можете узнать о его истории, о том, как он используется в разных сферах жизни, и о том, какие эмоции он вызывает у людей.
                Кроме того, участники клуба могут делиться своими собственными идеями и проектами, связанными с Magenta, а также обсуждать последние тенденции в использовании этого цвета.
                Если вы интересуетесь цветом Magenta и хотите узнать о нем больше, присоединяйтесь к нашему клубу!
            </p>
        </div>
    </body>
</html>