<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Факты</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Мир Magenta</h1>

        <div class="nav_bar">
            <a href="/index">Главное</a>
            <a href="/one" class="active">Факты</a>
            <a href="/two">Картнки</a>
            <a href="/three">Цели</a>
            <a href="/four" style="float: right">О нас</a>
        </div>

        <div class="content">
            <h2>Необычные факты о цвете magenta</h2>
            <p>
                1. Magenta - это цвет между красным и фиолетовым на цветовом круге. <br>
                2. Magenta часто ассоциируется с энергией и страстью. <br>
                3. Magenta используется в качестве основного цвета в системе RGB (красный, зеленый, синий). <br>
                4. Magenta является официальным цветом Гватемалы. <br>
                5. Magenta присутствует в некоторых оттенках помады и лака для ногтей. <br>
                6. Magenta может вызывать различные эмоции, от радости до печали, в зависимости от контекста. <br>
                7. Magenta использовался в живописи на протяжении веков, особенно в работах Ван Гога. <br>
                8. Magenta играет важную роль в маркетинге, так как он привлекает внимание и запоминается. <br>
                9. Magenta также используется в фотографии для создания драматических эффектов. <br>
                10. Magenta - один из немногих цветов, который одинаково хорошо смотрится на разных типах кожи.
            </p>
        </div>
    </body>
</html>