<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главное</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Мир Magenta</h1>

        <div class="nav_bar">
            <a href="/index" class="active">Главное</a>
            <a href="/one">Факты</a>
            <a href="/two">Картнки</a>
            <a href="/three">Цели</a>
            <a href="/four" style="float: right">О нас</a>
        </div>

        <div class="content">
            <h2>Главное о цвете magenta</h2>
            <p>
                Цвет Magenta - это яркий и насыщенный оттенок, который сочетает в себе красный и синий цвета. Он получил свое название от одноименного красителя, который был изобретен в 19 веке.
                Цвет Magenta имеет множество интересных особенностей и применений. Например, он часто используется в дизайне интерьеров, особенно в сочетании с другими яркими цветами. Также Magenta популярен в модной индустрии - многие дизайнеры используют его в своих коллекциях.
                Кроме того, Magenta является одним из основных цветов в системе RGB, которая используется для создания изображений на экранах компьютеров и телевизоров. Это делает его очень важным для работы с графикой и дизайном.
                В целом, цвет Magenta - это интересный и многогранный оттенок, который может быть использован в самых разных областях жизни. Он добавляет яркости и насыщенности в любые проекты, делая их более привлекательными для зрителя.
            </p>
        </div>
    </body>
</html>