<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Картнки</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Мир Magenta</h1>

        <div class="nav_bar">
            <a href="/index">Главное</a>
            <a href="/one">Факты</a>
            <a href="/two" class="active">Картнки</a>
            <a href="/three">Цели</a>
            <a href="/four" style="float: right">О нас</a>
        </div>

        <div class="content">
            <h2>Картнки цвета magenta</h2>
            <div class="gallery">
              <img src="https://media.discordapp.net/attachments/1048357188533493801/1181374432497905757/image.png">
              <img src="https://media.discordapp.net/attachments/1048357188533493801/1181375556864979055/image.png">
            </div>
        </div>
    </body>
</html>