<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Цели</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Мир Magenta</h1>

        <div class="nav_bar">
            <a href="/index">Главное</a>
            <a href="/one">Факты</a>
            <a href="/two">Картнки</a>
            <a href="/three" class="active">Цели</a>
            <a href="/four" style="float: right">О нас</a>
        </div>

        <div class="content">
            <h2>Цели</h2>
            <p>
                1. Изучить историю и происхождение цвета Magenta. <br>
                2. Исследовать использование цвета Magenta в различных областях, таких как мода, дизайн, искусство и т. д. <br>
                3. Определить, какие эмоции и ассоциации вызывает цвет Magenta у разных людей. <br>
                4. Узнать, как цвет Magenta влияет на психологическое состояние человека. <br>
                5. Понять, как использовать цвет Magenta в своей повседневной жизни, например, в интерьере, одежде и т. д. <br>
                6. Изучить различные сочетания цвета Magenta с другими цветами и оттенками. <br>
                7. Разработать свой собственный стиль, используя цвет Magenta как основной элемент. <br>
                8. Найти интересные факты о цвете Magenta и поделиться ими с другими любителями этого оттенка. <br>
                9. Создать коллекцию вещей в цвете Magenta, например, одежду, аксессуары, предметы интерьера и т. д.
            </p>
        </div>
    </body>
</html>